apiVersion: v1
kind: Namespace
metadata:
  name: feedback
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: feedback-web
  namespace: feedback
spec:
  replicas: 2
  selector:
    matchLabels:
      app: feedback-web
  template:
    metadata:
      labels:
        app: feedback-web
    spec:
      containers:
        - name: web
          image: feedback-k8s:1.0
          ports:
            - containerPort: 3000
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: feedback-web
  namespace: feedback
spec:
  selector:
    app: feedback-web
  ports:
    - name: http
      port: 80
      targetPort: 3000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: feedback-ingress
  namespace: feedback
spec:
  ingressClassName: nginx
  rules:
    - host: localhost
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: feedback-web
                port:
                  number: 80
